<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Books</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<figure class="header">
    <div class="title">
        <h1 class="header-text">My Lists</h1>
    </div>
</figure>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<figure class="main-body">
    <br>
    <div class="list-container">
        <div class="search-button">
            <form class="form-horizontal" th:action="@{/books/search}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Author:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="author" th:value="${author}"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
            <br>
            <form class="form-horizontal" th:action="@{/books/title}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Title:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="title" th:value="${title}"/>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="list-button">
            <button type="button" onclick="window.location.href='/books/new'">Create Book</button>
            <button type="button" onclick="window.location.href='/books/add'">Random Book</button>
        </div>
        <br>
        <div class="list-background">
            <div class="button">
                <button class="tablink2" onclick="window.location.href='/books/cat/non-fiction'">Non-Fiction</button>
                <button class="tablink2" onclick="window.location.href='/books/cat/fantasy'">Fantasy</button>
                <button class="tablink2" onclick="window.location.href='/books/cat/science-fiction'">Science Fiction
                </button>
                <button class="tablink2" onclick="window.location.href='/books/cat/mystery'">Mystery</button>
                <button class="tablink2" onclick="window.location.href='/books/cat/poetry'">Poetry</button>
                <button class="tablink2" onclick="window.location.href='/books/cat/drama'">Drama</button>
            </div>
            <div th:if="${not #lists.isEmpty(books)}">
                <br>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Page Count</th>
                        <th>List Name</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}">Id</td>
                        <td th:text="${book.title}">Title</td>
                        <td th:text="${book.author}">Author</td>
                        <td th:text="${book.pageCount}">Page Count</td>
                        <td th:text="${book.listName}">List Name</td>

                        <td><a th:href="${ '/books/'        + book.id}">View</a></td>
                        <td><a th:href="${ '/books/edit/'   + book.id}">Edit</a></td>
                        <td><a th:href="${ '/books/delete/' + book.id}">Delete</a></td>
                    </tr>
                    <tr th:each="book : ${books2}">
                        <td th:text="${book.id}">Id</td>
                        <td th:text="${book.title}">Title</td>
                        <td th:text="${book.author}">Author</td>
                        <td th:text="${book.pageCount}">Page Count</td>
                        <td th:text="${book.listName}">List Name</td>

                        <td><a th:href="${ '/books/'        + book.id}">View</a></td>
                        <td><a th:href="${ '/books/edit/'   + book.id}">Edit</a></td>
                        <td><a th:href="${ '/books/delete/' + book.id}">Delete</a></td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
</figure>
</body>
</html>
