<!DOCTYPE html>
<html lang="en">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Book List</title>
</head>

<body>
<figure class="header">
    <div class="title">
        <h1 class="header-text">My Book Lists</h1>
    </div>
</figure>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<figure class="main-body">

    <br><br><br>
    <figure class="figure">
        <h2 class="home-title">Weekly Book Feature</h2>
        <div class="image">
            <a href="https://www.goodreads.com/book/show/186074.The_Name_of_the_Wind"><img src="/images/BookFeature.jpg"
                                                                                           width="280px" height="438px"
                                                                                           alt="Cover of the name of The Name of the Wind"></a>
        </div>
        <div class="pic-caption">
            <ul>
                <li><strong>Title:</strong> The Name of the Wind</li>
                <li><strong>Author:</strong> Patrick Rothfuss</li>
                <li><strong>Info:</strong> The Name of the Wind, also called The Kingkiller Chronicle: Day One, is
                    a heroic
                    fantasy novel written by American author Patrick Rothfuss. It is the first book in the ongoing
                    fantasy
                    trilogy The Kingkiller Chronicle, followed by The Wise Man's Fear. It was published on March 27,
                    2007,
                    by DAW Books.
                </li>
            </ul>
        </div>
    </figure>
    <br>
    <figure class="figure">
        <h2 class="home-title">Weekly Author Feature</h2>
        <div class="image">
            <a href="https://en.wikipedia.org/wiki/Bill_Watterson"><img src="/images/AuthorFeature.jpg" width="295px"
                                                                        height="300px" alt="Picture of Bill"></a>
        </div>
        <div class="pic-caption">
            <ul>
                <li><strong>Name:</strong> Bill Watterson</li>
                <li><strong>About:</strong> William Boyd Watterson II (born July 5, 1958) is a retired American
                    cartoonist
                    and the author of the comic strip Calvin and Hobbes, which was syndicated from 1985 to 1995.
                </li>
            </ul>
        </div>
    </figure>
    <br>
</figure>
</body>