<!DOCTYPE html>
<html lang="en">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patreon</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<figure class="header">
    <div class="title">
        <h1 class="header-text">Support the Site</h1>
    </div>
</figure>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="main-body">
    <br><br><br><br>
    <div class="figure2">
        <div class="image">
            <a
                    href="https://www.patreon.com/?utm_source=mi_google_US&utm_campaign=brand_Brand_Patreon_Nameplate_Exact&utm_term=patreon&utm_medium=cpc&utm_content=437948740477&gclid=Cj0KCQiAh4j-BRCsARIsAGeV12DYMPkMVluZ_qse6I_9DAnZnfY4PTuJeFL-ltZwnW8-sVbT09n-qA8aAlPXEALw_wcB"><img
                    src="/images/Patreon.jpg" width="370" height="200"></a>
        </div>
        <div class="text-box">
            <h2>Thank you to our current Patreons!</h2>
            <p>Making and maintaining this site for public use has taken a considerable amount of time and effort. Any
                and
                all financial help is greatly appreciated and helps the site stay updated and modern.</p>
        </div>
    </div>
</div>
</body>

</html>