<!DOCTYPE html>
<html lang="en">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<figure class="header">
    <div class="title">
        <h1 class="header-text">Favorite Books</h1>
    </div>
</figure>
<figure class="main-body">
</figure>

</body>

</html>